/*======================
   01. Google fonts
========================*/
@font-face {
    font-family: 'HK Grotesk';
    src: url('/webfonts/HKGrotesk-Bold.eot');
    src: url('/webfonts/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/HKGrotesk-Bold.woff2') format('woff2'),
        url('/webfonts/HKGrotesk-Bold.woff') format('woff'),
        url('/webfonts/HKGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
/*======================
   02. Basic css
========================*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'HK Grotesk';
}

body {
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #5A7184;
	font-weight: 400;
}

ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

a {
	text-decoration: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus{
	outline: none;
}

.img {
	margin-left: 35px;
}

.container {
    width: 100%;
}

/* page loader  */
#preloader {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	height: 100vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.loader3 {
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0px;
	text-align: left;
}

.loader3 span {
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #FFA200;
	-webkit-animation: loader3 1.5s linear infinite;
	animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
	animation-delay: -0.9s;
	-webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
  	0% {
    	-webkit-transform: scale(0, 0);
    	        transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	-webkit-transform: scale(1, 1);
    	        transform: scale(1, 1);
    	opacity: 0;
  	}
}

@-webkit-keyframes loader3 {
  	0% {
    	-webkit-transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	-webkit-transform: scale(1, 1);
    	opacity: 0;
  	}
}
/*Hamburger-menu START CSS*/
.hamburger-menu {
	cursor: pointer;
	position: absolute;
	right: 15px;
	display: none;
	z-index: 999;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.hamburger-menu span {
	background: #FFA200;
	width: 30px;
	height: 3px;
	display: block;
	margin: 5px 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.hamburger-menu:hover .line-top {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
.hamburger-menu:hover .line-bottom {
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}
.hamburger-menu .line-top.current {
	-webkit-transform: translateY(200%) rotate(135deg);
	-ms-transform: translateY(200%) rotate(135deg);
	transform: translateY(200%) rotate(135deg);
}
.hamburger-menu .line-center.current {
	opacity: 0;
}
.hamburger-menu .line-bottom.current {
	-webkit-transform: translateY(-325%) rotate(-135deg);
	-ms-transform: translateY(-325%) rotate(-135deg);
	transform: translateY(-325%) rotate(-135deg);
}
/*ofcanvas-menu*/
.ofcavas-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: -1;
	top: 0;
	display: none;
	left: -100%;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	text-align: center;
}

.ofcavas-menu.current {
	left: 0;
}

.ofcavas-menu a {
	color: #000000;
	margin-top: 30px;
	padding: 0;
}
.ofcavas-menu ul {
    margin-top: 100px;
    line-height: 22px;
}
.ofcavas-menu ul li:last-child a:hover{
	background-color: #FFA200;
	border-color: #FFA200;
	color: #000000;
}
.ofcavas-menu a:hover,
.ofcavas-menu a.active{
	color: #FFA200;
}


header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1024;
	padding: 30px 0;
	width: 100%;
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
	background-color: #2B478B;

}

/*sticky START CSS*/
header.sticky {
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
}

#menu {
	text-align: right;
}

#menu li {
	display: inline-block;
	color: #fff;
	padding-right: 40px;
}

#menu li a {
	display: inline-block;
	font-size: 16px;
	line-height: 1.37;
	color: #FFFFFF;
	font-weight: 400;
	padding: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
#menu li:last-child a,
.ofcavas-menu ul li:last-child a{
	padding: 15px 20px;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	font-weight: 600;
}
.ofcavas-menu ul li:last-child a{
	border-color: #000000;
	display: inline-block;;
}
#menu li:last-child a:hover{
	background-color: #FFA200;
	border-color:  #FFA200;
	color: #FFFFFF;
}

#menu li:last-child{
	padding-right: 0;
}

#menu>li>a.active,
#menu>li>a:hover {
	color: #FFA200;
}

/*hero area*/
.hero_wrapper{
	background-color: #2B478B;
	padding-top: 80px;
	padding-bottom: 50px;
	position: relative;
	z-index: 2;
}
.hero_shape {
    position: absolute;
    bottom: -88px;
    left: 0;
    z-index: 1;
    width: 100%;
}
.hero_content h1{
	font-weight: bold;
	font-size: 60px;
	line-height: 1.24;
	color: #FFFFFF;
}
.hero_content p{
	font-size: 18px;
	line-height: 1.94;
	color: #FFFFFF;
	opacity: 0.6;
	padding-top: 20px;
	max-width: 480px;
}
.hero_content .button{
	margin-top: 40px;
}
.button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 18px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.37;
    color: #2B478B;
    background-color: #FFFFFF;
    border-radius: 50px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0px 44px 64px rgba(29, 56, 121, 0.74);
            box-shadow: 0px 44px 64px rgba(29, 56, 121, 0.74);
}
.button img{
	margin-left: 20px;
}
.button:hover{
	background-color: #FFA200;
}
.hero_img {
    text-align: right;
}

/*about area*/
.about_wrapper {
    padding-top: 95px;
    padding-bottom: 83px;
}
.about_content{
	position: relative;
	z-index: 1;
}
.about_shape1 {
    position: absolute;
    left: 155px;
    bottom: -30px;
    z-index: -1;
}
.about_content h5{
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #FFA200;
	padding-bottom: 20px;
}
.title{
	font-weight: 700;
	font-size: 38px;
	line-height: 1.43;
	color: #2B478B;
}
.about_content .title{
	padding-bottom: 24px;
}
.about_content p{
	line-height: 1.8;
}
.about_content .button{
	background-color: #2B478B;
	color: #FFFFFF;
	margin-top: 55px;
	-webkit-box-shadow: 0px 24px 57px rgba(21, 101, 216, 0.24);
	        box-shadow: 0px 24px 57px rgba(21, 101, 216, 0.24);
}
.about_content .button:hover{
	background-color: #FFA200;
}
.about_img{
	padding-left: 50px;
}
/*product area*/
.product_wrapper{
	background-color: #F8FBFF;
	position: relative;
	padding-top: 80px;
	margin-top: 125px;
	padding-bottom: 170px;
}
.product_shape1 {
    position: absolute;
    top: -130px;
    left: 0;
    width: 100%;
}
.product_wrapper .row [class*=col],
.team_wrapper .row [class*=col]{
	padding-left: 25px;
	padding-right: 25px;
}
.product_heading{
	text-align: center;
	padding-bottom: 5px;
}
.product_box{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 8px;
	text-align: center;
	height: 312px;
	-webkit-box-shadow: 0px -5px 0px #FFA200;
	        box-shadow: 0px -5px 0px #FFA200;
	padding: 40px 20px;
}
.product_img {
    height: 64px;
    width: 64px;
    background-color: rgba(255, 162, 0, 0.06);
    padding: 10px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.product_img img {
    padding: 2px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    opacity: 1;
    height: 40px;
    width: 40px;
    -o-object-fit: cover;
       object-fit: cover;
}
.product_content h4{
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.2px;
	color: #183B56;
	padding-top: 35px;
}
.product_content p {
    padding-top: 20px;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
}

/*team area*/
.team_wrapper{
	position: relative;
	padding-bottom: 50px;
}
.team_shape {
    position: absolute;
    top: -119px;
    left: 0;
    width: 100%;
}
.team_heading{
	text-align: center;
	padding-top: 80px;
}
.team_heading p{
	max-width: 644px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 30px;
}
.team_img img{
	border-radius: 20px;
}
.team_content{
	text-align: center;
	padding-top: 35px;
}
.team_content h3{
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: 0.2px;
	color: #183B56;
}
.team_content p{
	padding-top: 10px;
}

/*subscribe area*/
.subscribe_wrapper{
	position: relative;
	z-index: 1;
	padding-bottom: 70px;
	margin-top: 90px;
}
.sub_shape{
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	width: 100%;
}
.subscribe_content_wrapper{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 80px 0;
	border-radius: 16px;
	text-align: center;
}
.subscribe_content_wrapper h2{
	font-weight: 700;
	font-size: 36px;
	line-height: 1.33;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}
.subscribe_content_wrapper p{
	font-size: 18px;
	line-height: 1.2;
	color: rgba(252, 252, 252, 0.6);
	padding-top: 25px;
}
.subscribe_input_box{
	max-width: 495px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
}
.subscribe_input_box input {
    height: 59px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    padding: 15px 135px 15px 36px;
    width: 495px;
    background-color: transparent;
    color: #FFFFFF;
}
.subscribe_input_box input::-webkit-input-placeholder{
	font-size: 14px;
	color: rgba(252, 252, 252, 0.6);
}
.subscribe_input_box input::-moz-placeholder{
	font-size: 14px;
	color: rgba(252, 252, 252, 0.6);
}
.subscribe_input_box input:-ms-input-placeholder{
	font-size: 14px;
	color: rgba(252, 252, 252, 0.6);
}
.subscribe_input_box input::-ms-input-placeholder{
	font-size: 14px;
	color: rgba(252, 252, 252, 0.6);
}
.subscribe_input_box input::placeholder{
	font-size: 14px;
	color: rgba(252, 252, 252, 0.6);
}
.subscribe_input_box .button{
	border: none;
	padding: 14px 25px;
	color: #1565D8;
	font-weight: 600;
}
.subscribe_input_box .button:hover{
	background-color: #1565D8;
	color: #FFFFFF; 
}
.input_btn {
    margin-right: 5px;
    text-align: right;
    margin-top: -54px;
}
/*footer area*/
.footer_wrapper{
	padding: 70px 0 100px;
	background-color: #F8FBFF;
}
.footer_content p{
	padding-top: 15px;
	max-width: 300px;
	line-height: 1.8;
}
.footer_social{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 30px;
}
.footer_social a{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 42px;
	width: 42px;
	background-color: rgba(90, 113, 132, 0.1);
	border-radius: 50%;
	font-size: 16px;
	color: #5A7184;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	margin-right: 6px;
}
.footer_social a:last-child{
	margin-right: 0;
}
.footer_social a:hover{
	background-color: #FFA200;
	color: #FFFFFF;
}
.footer_list_wrapper p{
	font-weight: 700;
	font-size: 18px;
	line-height: 1.38;
	color: #183B56;
	padding-bottom: 30px;
}
.footer_list li a{
	display: inline-block;
	color: #183B56;
	line-height: 1.37;
}
.footer_list li{
	padding-bottom: 15px;
}
.footer_list li:last-child{
	padding-bottom: 0;
}
.footer_list li a:hover{
	color: #FFA200;
}


/*return-to-top START CSS*/

.back-to-top {
	font-size: 24px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	display: inline;
	position: fixed;
	bottom: 30px;
	right: 20px;
	border-radius: 50%;
	background: #FFA200;
	z-index: 1000;
}

.back-to-top i {
	color: #fff;
}